<footer class="content-footer">
            <div class="content-footer_block">
                <div class="content-footer_block_title">Company Bio</div>
                <div class="content-footer_block_item">Lorem ipsum dolor sit amet consectetur adipiscing elit duis,
                lacinia pellentesque orci aptent quis congue commodo, faucibus sem hendrerit morbi nam sociosqu aenean.
                Himenaeos condimentum sociis mollis donec nullam, rutrum iaculis justo lacus, consequat vivamus taciti mauris.
                </div>
            </div>
            <div class="content-footer_block_mini">
                <div class="content-footer_block_title">Settings</div>
                <div class="content-footer_block_item">link</div>
                <div class="content-footer_block_item">link</div>
                <div class="content-footer_block_item">link</div>
                <div class="content-footer_block_item">link</div>
            </div>
            <div class="content-footer_block_mini">
                <div class="content-footer_block_title">Connect</div>
                <div class="content-footer_block_item">@Html.ActionLink("Passenger", "Index", "Passenger")</div>
                <div class="content-footer_block_item">@Html.ActionLink("Flight", "Index", "Flight")</div>
            </div>
</footer>
